@model WebMvc.Models.OrderModels.Order

<section class="esh-orders_new-section">
    <article class="esh-orders_new-titles row">
        <section class="esh-orders_new-title col-xs-12">Order details</section>
    </article>

    @for (int i = 0; i < Model.OrderItems.Count; i++)
    {
        var item = Model.OrderItems[i];

    <article class="esh-orders_new-items esh-orders_new-items--border row">
        <section class="esh-orders_new-item col-md-4 hidden-md-down">
            <img class="esh-basket-image" src="@item.EventImageUrl">
            <input type="hidden" value="@item.EventImageUrl" name=@("orderitems[" + i + "].ProductName") />
        </section>
        <section class="esh-orders_new-item esh-orders_new-item--middle col-xs-4">
            @item.ProductName
            <input type="hidden" value="@item.ProductName" name=@("orderitems[" + i + "].EventName") />
            @*<input value="@item.ProductName" name=@("orderitems[" + i + "].EventName") />*@
        </section>
        <section class="esh-orders_new-item esh-orders_new-item--middle col-xs-1">
            $@item.UnitPrice
            <input type="hidden" value="@item.UnitPrice" name=@("orderitems[" + i + "].UnitPrice") />
            @*<input value="@item.UnitPrice" name=@("orderitems[" + i + "].UnitPrice") />*@
        </section>
        <section class="esh-orders_new-item esh-orders_new-item--middle col-xs-1">
            @*@item.UnitPrice*@
            @item.Quantity
            <input type="hidden" value="@item.Quantity" name=@("orderitems[" + i + "].Quantity") />
            @*<input value="@item.Quantity" name=@("orderitems[" + i + "].Quantity") />*@
        </section>
        $@Math.Round(item.Quantity * item.UnitPrice, 2)
        <section class="esh-orders_new-item esh-orders_new-item--middle col-xs-2">@item.ProductName</section>
       
    </article>
    }
</section>

<section class="esh-orders_new-section esh-orders_new-section--right">
    <article class="esh-orders_new-titles row">
        <section class="esh-orders_new-title col-xs-9"></section>
        <section class="esh-orders_new-title col-xs-2">Total Amount</section>
    </article>

    <article class="esh-orders_new-items row">
        <section class="esh-orders_new-item col-xs-9"></section>
        <section class="esh-orders_new-item esh-orders_new-item--mark col-xs-2">
            $ @Model.OrderTotal
            <input type="hidden" value="@Model.OrderTotal" name="Total"/>
        </section>
    </article>
</section>
